.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #FF3B3F;
    border: none;
    border-radius: 75px;
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.button img {
    position: absolute;
    right: 30px;
    /* Move the arrow icon to the far right */
}

.button:disabled {
    background: #A9A9A9;
    /* Disabled background color */
    cursor: not-allowed;
    color: #FFFFFF;
}