.circularOuterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.circularOuterDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background: conic-gradient(#44B77B 0deg, #F3F4FA 0deg);
    border-radius: 50%;
}

.circularOuterDiv::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.circularInnerDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    z-index: 1;
}

.circularInnerDiv {
    position: relative;
    width: 50%;
    height: 74%;
}

.circularInnerDiv h1 {
    font-family: nunito-italic !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    text-align: left;
    /* Align text to the left */
}

.circularInnerDiv h3 {
    font-family: nunito-italic !important;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    text-align: right;
    /* Align text to the right */
}

.circularInnerDivSeperater {
    font-family: nunito-italic !important;
    position: absolute;
    bottom: 30px;
    right: 40px;
    width: 6%;
    text-align: right;
    /* Align text to the right */
}

@media (max-width:480px) {
    .circularInnerDiv {
        position: relative;
        width: 100%;
        height: 80%;
    }

    .circularInnerDiv h1 {
        font-family: nunito-italic !important;
        position: absolute;
        top: -25px;
        left: -10px;
        width: 40%;
        text-align: left;
        /* Align text to the left */
    }

    .circularInnerDiv h3 {
        font-family: nunito-italic !important;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        text-align: right;
        /* Align text to the right */
    }

    .circularInnerDivSeperater {
        font-family: nunito-italic !important;
        position: absolute;
        bottom: 30px;
        right: 40px;
        width: 6%;
        text-align: right;
        /* Align text to the right */
    }
}

@media (max-width: 768px) {
    .circularInnerDiv {
        position: relative;
        width: 60%;
        height: 87%;
    }
}